<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <main>
      <header>
          <nav>
      <h1>Best Books !</h1>
    </nav>
    </header>

    <div class = container1> 
        <div class="dropdown">
            <!-- <button onclick="myFunction()" class="dropbtn">Dropdown</button> -->
            <div id="myDropdown" class="dropdown-content">
              <a href="/">Home</a>
              <a href="/searches/new">Search the Google Books Api</a>
            </div>
          </div>
    </div>
    <div class = container2>
      0 saved Books
    </div>
    <div class = container3>
      
    </div>
    <div class = container4>
      
    </div>
  </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</body>
</html>