
<footer> 
    <ul>
        <li><a href="https://facebook.com"><i class="fab fa-facebook"> </i></li>
        <li><a href="https://twitter.com"><i class="fab fa-twitter"> </i></li>
        <li><a href="https://instagram.com"><i class="fab fa-instagram"> </i></li>
    </ul>
</footer>
<script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    </script>